* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0 20px 20px 20px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
} 

.product {
    border: 1px solid lightblue;
    width: 30%;
}

.product-name {
    border: 1px dotted lightgray;
    text-align: center;
}

.product-info img {
    width: 100%;
}

.product-info {
    text-align: justify;
}

.description {
    padding: 0 10px 0 10px;
}

.availability {
    color: gold;
    background: slategray;
    width: 100%;
}

p.availability {
    text-align: center;
}

.product-specs {
    font-weight: bold;
    padding: 0 10px 0 10px;
}

.product-specs p {
    margin-bottom: .5em;
}